ngb-rating {
    font-size: 35px;
    color: #c9ab04;
  }
  
  .star {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star.selected {
    color: #ffdd00; /* Gold color for selected stars */
  }
  