<!-- <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary">
            <mat-icon>Details</mat-icon>
        </button>
    </td>
  </ng-container> -->
  <button mat-raised-button (click)="onButtonClicked()">Details</button>
  <span class="icon-spacer"></span>
  <button mat-raised-button (click)="onButtonClicked()"><mat-icon>favorite_border</mat-icon></button>
