<!--<p>all-tasks works!</p>-->
<h2 class="font-bold text-xl"> Today </h2>
  <div class="text-blue-600">
    <span>Thursday</span>,<span> March 4,2024 </span>
  </div>
  <div class="nav-items">
    <div routerLink="/login" class="mt-10 w-10 p-10">
    <button class="bg-slate-400 p-2 rounded-r text-Red-300 outline-none outline-0"> Login </button>
    </div>
    <div routerLink="/register" class="mt-100 w-10 p-10">
    <button class="bg-slate-400 p-2 rounded-r text-Red-300 outline-none outline-0"> Register </button>
    </div>
  </div>

  